body {
    background-color: rgb(136, 163, 163);

}

.principal {
    text-align: center;
    text-decoration: underline;
    box-shadow: aquamarine 2px 2px 20px;


}

.titulo {
    text-align: center;
    box-shadow: 10px 5px 5px rgb(255, 0, 0);
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.subtitulo {
    text-decoration: underline;
    text-shadow: #e0dddd 5px 2px;
}

.editores {
    text-align: center;

}

ul li {
    list-style: none;
    text-align: center;

}

.lista {
    text-align: center;


}

.lista2 {
    color: white;

}

.sites {
    text-align: center;
    box-shadow: aquamarine 2px 2px 20px;


}

p a {
    text-decoration: none;
}

/* PAGINA HTML*/
.titulohtml {
    text-align: center;
    font-size: 50px;
    border-style: solid;
    box-shadow: 10px 5px 5px red;
}

img:hover {
    transform: scale(1.5);
    transition: 1s;
}

.principal2 {
    text-align: center;
    background-color: rgb(133, 124, 124);
    margin: 60px;
    font-size: 30px;
    box-shadow: aquamarine 2px 2px 20px;



}

.historia {
    text-align: center;
    background-color: rgb(100, 94, 94);
    font-size: 30px;
    margin: 60px;
    box-shadow: aquamarine 2px 2px 20px;

}

.tituloweb {
    font-size: 35px;
}


.funcionamento {
    text-align: center;
    font-size: 30px;
    background-color: rgb(59, 55, 55);
    box-shadow: aquamarine 2px 2px 20px;


}